@page "/document"

<h4>@(string.IsNullOrWhiteSpace(documentMetadata.Синоним)? documentMetadata.Идентификатор: documentMetadata.Синоним)</h4>

@if (items == null)
{
    <p>Loading ...</p>
}
else
{
<div class="sticky-top">
    <MudDatePicker Label="Дата начала"    Date="@startDate" HelperText="По умолчанию первый документ"     Editable="true" DateChanged="beginChange"/>
    <span>@("<>")</span>
    <MudDatePicker Label="Дата окончания" Date="@endDate"   HelperText="По умолчанию последний документ"  Editable="true" DateChanged="endChange"/>
</div>


<MudSimpleTable Dense="true">
      <thead>
          <tr>
              <th>Дата</th>
              <th>Номер</th>
               @foreach (var attribute in documentMetadata.РеквизитШапки.Values)
               {
                  <th>@(string.IsNullOrWhiteSpace(attribute.Синоним) ? attribute.Идентификатор : attribute.Синоним)</th>
               }
          </tr>
        </thead>
      <tbody>
          @{
              foreach (var row in items)
              {
                    <tr>
                        @{
                            var je = (JsonElement)row;
                            string numberDoc = je.GetProperty("НомерДок").GetString();
                            string datedoc = je.GetProperty("ДатаДок").GetDateTime().ToString();
                        }
                        <td>@(datedoc )</td>
                        <td>@(numberDoc)</td>
                        @foreach (var attribute in documentMetadata.РеквизитШапки.Values)
                        {
                            <td>
                                <Attribute1C77 metadata="attribute" Value="je.GetProperty(attribute.Идентификатор)"/>
                            </td>
                        }

                    </tr>
                  }
           }
</tbody>
</MudSimpleTable>

    }



